/**
 * Cap'n Blackbeard's sail.
 */

h1 {
	text-align: center;
	font-size: 250%;
	margin-bottom: 1.5em;
}

h1 img {
	display: block;
	margin: 0 auto; margin-bottom: 0.5em;
	font-weight: bold;
}

#document {
	width: 750px;
	font-size: 100%;
}

input, button {
	padding: 0.3em;
}

a {
	color: #000;
}

a:hover, a:focus {
	text-decoration: none;
}

ul, ul li {
	list-style-type: none;
	margin: 0; padding: 0;	
}

ul {
	margin-bottom: 2em;	
}

#search {
	text-align: center;
	margin-bottom: 2em;
}

section {
	padding: 0 2em 1em 2em;
	display: none;
}

section ul {
	padding-top: 1em;	
}

h2 {
	border-bottom: #CCCCCC 1px solid;
}

.video h3 {
	font-size: 130%;
}

.video {
	margin-bottom: 1em; padding: 0 5em 0 1em;
	border-left: #FFF 3px solid;
	position: relative;
}

.video h3 a {
	font-size: 60%;
	vertical-align: top;
	margin-left: 1em;
}

.rank-0 { border-color: #CCCCCC; }
.rank-1 { border-color: #535353; }
.rank-2 { border-color: #658DB4; }
.rank-3 { border-color: #BB0011; }

.films button {
	position: absolute; right: 1em; top: 1em;
}

.results header {
	margin-bottom: 2em;	
}

#tpb h3, #titulkycom h3 {
	display: inline;	
}

#titulkycom small {
	margin-left: 2em;	
}

.settings {
	padding: 0.5em;
	font-size: 80%;
}

.settings input {
	vertical-align: middle;	
}

footer {
	font-size: 120%;
	vertical-align: middle;
	text-align: center;
	margin-top: 2em;
}

footer a {
	font-size: 70%;
	vertical-align: middle;
}